{% extends 'blog/base.html' %}
{% block content %}
<div class="jumbotron">
    <h2>Please Login:</h2>
    <h3>Must Be a Superuser. Please Check with Site Admin</h3>
    {% if form.errors %}
    <p>Your username and Password Does not Match!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}